* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

h2 {
  font-size: 2.2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

p {
  font-size: 0.95rem;
  color: rgb(33, 33, 33);
  line-height: 1.4rem;
}

button {
  margin-top: 20px;
  background-color: black;
  color: #FFF;
  padding: 15px 30px;
  border: none;
  font-size: 0.95rem;
  cursor: pointer;
  transition: .2s all linear;
}

button:hover {
  background-color: rgb(46, 46, 46);
}

/* Hero Section */

.hero-section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.hero-section {
  position: relative;
  height: 100vh;
}

header {
  display: flex;
  max-width: 1000px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px 20px;
}

header .header-right {
  display: flex;
  gap: 20px;
}

header a {
  color: #FFF;
}

header a:hover {
  text-decoration: line-through;
}

.hero-section h1 {
  color: #FFF;
  position: absolute;
  top: 45%;
  text-align: center;
  width: 100%;
  font-weight: 200;
  font-size: 5rem;
}

.hero-section img {
  position: absolute;
  bottom: 0;
  left: 50%;
}

@media (max-width: 520px) {
  header .header-right {
    display: none;
  }
  .hero-section h1 {
    font-size: 4rem;
  }
}

/* Resume Section */

.resume-section {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 120px 20px;
}

.resume-left {
  flex-basis: 50%;
}

.resume-left .subtitle {
  padding-bottom: 10px;
}

.resume-left .text {
  padding-top: 20px;
}

.resume-right {
  flex-basis: 50%;
  margin-left: 10%;
}

.resume-right h3 {
  border-bottom: 1px solid black;
  margin-bottom: 25px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 520px) {
  .resume-section {
    display: grid;
  }
  .resume-right {
    margin-left: 0;
    margin-top: 60px;
  }
}

/* Projects Section */

.projects-section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 500px;
  gap: 20px;
}

.projects-section .first-project {
  background-image: linear-gradient(47deg, rgb(0 0 0 / 45%), rgb(255 255 255 / 0%)), url(./assets/hyundai-motor-group-a3vDd8hzuYs-unsplash.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  grid-column: span 2;
  position: relative;
}

.projects-section .second-project {
  background-image: linear-gradient(47deg, rgb(0 0 0 / 45%), rgb(255 255 255 / 0%)), url(./assets/camilla-carvalho-Cgb4gMKRcMA-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  position: relative;
}

.projects-section .third-project {
  background-image: linear-gradient(47deg, rgb(0 0 0 / 45%), rgb(255 255 255 / 0%)), url(./assets/neom-g9wCI64k2yw-unsplash.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  position: relative;
}

.projects-section h2, .projects-section p {
  color: #FFF;
}

.projects-section .copy-project {
  position: absolute;
  bottom: 35px;
  left: 35px;
}

.projects-section button {
  grid-column: span 2;
  width: fit-content;
  margin: 20px auto 0 auto;
}

@media (max-width: 520px) {
  .projects-section {
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 300px 300px 300px;
    gap: 20px;
  }
  .projects-section .first-project {
    grid-column: unset;
  }
  .projects-section button {
    grid-column: unset;
  }
}

/* About Me Section */

.about-section {
  background-color: black;
  padding: 60px 20px;
}

.about-section h2, .about-section p {
  color: #FFF;
}

.about-section .about-width {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.about-right {
  flex-basis: 60%;
}

.about-left {
  flex-basis: 40%;
}

.swiper {
  display: block;
  max-width: 600px;
  min-height: 250px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  color: #FFF;
}

.swiper-slide {
  display: flex;
}

.swiper-slide p {
  padding-top: 25px;
  max-width: 70%;
}

.swiper-slide img {
  display: block;
  height: 60px;
  border-radius: 50%;
}

.swiper-bio {
  display: flex;
  gap: 25px;
  align-items: center;
}

.swiper-bio .swiper-info {
  display: block;
}

.swiper-button-next {
  left: 50px !important;
  right: unset !important;
}

.swiper-button-next, .swiper-button-prev {
  top: 90% !important;
  position: absolute !important;
}

.swiper-button-prev {
  left: unset !important;
  right: unset !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 30px !important;
  color: #FFF !important;
}

@media (max-width: 520px) {
  .about-section .about-width {
    display: grid;
    gap: 20%;
  }
  .swiper {
    max-width: 100vw;
  }
  .about-section {
    padding: 60px 20px 130px;
  }
}

/* Blog Section */

.blog-section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 20px;
  display: flex;
}

.blog-section .blog-left {
  flex-basis: 40%;
}

.blog-section .blog-right {
  flex-basis: 60%;
  display: grid;
  gap: 30px;
}

.blog-box {
  display: flex;
  align-items: center;
  gap: 25px;
}

.blog-section img {
  width: 150px;
}

.blog-box p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.blog-info {
  display: grid;
  gap: 10px;
}

@media (max-width: 520px) {
  .blog-section {
    display: grid;
    gap: 10%;
  }
}

/* Contact Section */

.contact-section {
  max-width: 1000px;
  margin: 0 auto;
  border-top: 1px solid black;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 20px;
}

.contact-section h2 {
  font-size: 5rem;
  font-weight: 400;
}

.contact-section span.material-symbols-outlined {
  font-size: 80px;
  font-weight: 100;
}

.contact-section span.text {
  border-bottom: 1px solid black;
}

@media (max-width: 520px) {
  .contact-section {
    display: grid;
    padding: 80px 20px;
  }
  .contact-section h2 {
    font-size: 4rem;
  }
}

/* Footer */

footer {
  background-color: black;
}

.footer {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 20px;
  gap: 20%;
}

.footer h3, .footer p {
  color: #FFF;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 30%;
  gap: 20%;
  height: 300px;
}

.footer-right {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
}

.footer-left .left-logo {
  display: grid;
  gap: 15px;
}

.footer-left .left-social {
  display: flex;
  gap: 20px;
}

footer input {
  border: none;
  width: 100%;
  padding: 18px 0;
  margin-top: 10px;
  background-color: unset;
  border-bottom: 1px solid #3c3c3c;
  color: #FFF;
  font-size: 0.95rem;
}

footer input:focus-visible {
  outline: none !important;
}

footer input::placeholder {
  color: #FFF;
}

.right-newsletter {
  position: relative;
}

.right-newsletter a {
  position: absolute;
  color: #FFF;
  bottom: 18px;
  right: 25px;
}

.right-links {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.right-links p {
  padding: 2px 0;
}

.right-terms {
  text-align: right;
}

@media (max-width: 520px) {
  .footer {
    display: grid;
    gap: 60px;
  }
  .footer-left {
    height: 200px;
    gap: unset;
  }
  .right-terms {
    text-align: left;
  }
  .right-links {
    width: 100%;
  }
  .swiper {
    max-width: 90vw;
  }
}